body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-archivo: Archivo;

    /* font sizes */
    --font-size-base: 16px;
    --font-size-5xs: 8px;
    --font-size-xs: 12px;

    /* Colors */
    --color-white: #fff;
    --color-chocolate: #e47c29;
    --color-gray-100: #fffdfd;
    --color-gray-200: #08131b;
    --color-gray-300: rgba(255, 255, 255, 0.3);
    --color-gray-400: rgba(0, 0, 0, 0.3);
    --color-darkslategray-100: #024b5c;
    --color-darkslategray-200: #002947;
    --color-deepskyblue: #00b2db;
    --color-black: #000;

    /* Gaps */
    --gap-9xs: 4px;
    --gap-5xs: 8px;

    /* Paddings */
    --padding-3xs: 10px;

    /* border radiuses */
    --br-9xs: 4px;
    --br-10xs: 3px;
    --br-15xl: 34px;
    --br-3xl: 22px;
    --br-11xs: 2px;
}